@font-face {
    font-family:'RobotoSlabRegular';
    src: url('fonts/RobotoSlab-Regular.ttf') format('truetype');
}
@font-face {
    font-family:'RobotoSlabLight';
    src: url('fonts/RobotoSlab-Light.ttf') format('truetype');
}
@font-face {
    font-family:'RobotoSlabThin';
    src: url('fonts/RobotoSlab-Thin.ttf') format('truetype');
}
@font-face {
    font-family:'RobotoSlabBold';
    src: url('fonts/RobotoSlab-Bold.ttf') format('truetype');
}

body {
    font-family: 'RobotoSlabRegular';
    height:100%;
    max-height:100%;
    width:100%;
    max-width: 100%;
    background-color:#ededed;
    padding-top:100px;
    line-height: 20px;
}
.canvas {
        width: 21.0cm;
        height: 29.7cm;
        padding: 0.8cm;
        margin: 1cm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* #primary color
#325D88 */
/* .primary-color */
#resume i {
    color:#325D88;
}
/* #resume div.list-title {
    color:#325D88;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
} */
#resume table  {
    font-size:11px;
}
#resume .table td {
    border-top:none !important;
    border-bottom:1px solid #DFD7CA;
}
#resume .table-skills td {
    padding-top:0.35rem !important; 
    padding-bottom:0.15rem !important;
    border-top:none !important;
}
#resume .table-information > tbody > tr > td:nth-child(1) {
    border-bottom:1px solid #DFD7CA;
  
}
#resume .table-information > tbody > tr > td:nth-child(2) {
    border-left:1px solid #DFD7CA;
    border-bottom:1px solid #DFD7CA;
}

#resume .picture {
    width:200px;
    height:200px;
    border-radius: 50%;
    padding:12px;
    border-color: #444444;
}
#resume .secondary-title {
    /* text- */
    font-size:10px;
    padding:0.15rem;
    font-family: 'RobotoSlabBold';
    margin-bottom:0.20rem;
    /* text-align: center; */
    letter-spacing: 1.5px;
    /* display:inline-block; */
    /* border-bottom:1px solid #DFD7CA; */
}


#section h1.huge-name {
    font-size: 54px;
    font-family: "RobotoSlabLight" !important;
    margin: 0;
    padding: 0 0 25px 0;
    font-weight: 100;
    line-height: 48px;
    color:#325D88;
}
#resume .title {
    color:#325D88;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

#section .main-label {
    font-size: 14px;
    font-family: "RobotoSlabBold";
    margin-bottom: 5px;
}

#section .name {
    font-size: 11px;
    font-family: "RobotoSlabBold";
}




#resume .m-title {
    border-bottom: 1px solid #444444;
    font-size: 15px;
    padding-bottom: 10px;
    font-family: "RobotoSlabBold";
    /*font-weight:bold;*/
}
#resume .i-content {
    padding-left:8px;
}
#resume .i-content > label {
    padding-left:8px;
    font-size:11px;
    font-family: "RobotoSlabBold";
    margin-bottom: 0px;
}
#resume .i-content > span {
    padding-left:8px;
    font-size:10px;
}
#resume .i-content > ul {
    font-size:10px;
    padding-left:20px;
}
#resume label {
        width: 100%;
        display: block;
        font-weight: bold;
        font-size: 11px;
}
#resume p {
        font-size: 11px;
        color: #3b3b3b;
        font-weight: 300;
        line-height: 20px;
}
#resume spacer {
    display:block;
    margin-top:50px;
}


#resume .sub-title {
    font-size: 12px;
    display: block;
    margin-bottom: 2px;
    text-align: right;
    font-family: 'ROB'
    /*padding-right: 30px;*/
}